#root {
    box-sizing: border-box;
}

.heading {
    margin: 0px;
    padding-top: 20px;
    text-align: center;
}

.home-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
    margin-right: 20px;
}

.table {
    margin-top: 40px;
}

.add-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.add-form-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.css-1nrlq1o-MuiFormControl-root {
    margin: 10px;
}